.DS_Store

tmux/plugins

nvim/lazy-lock.json

spicetify/Backup
spicetify/Extracted
spicetify/Themes/Comfy/color.ini
zsh/.zcompdump
zsh/.zcompcache
zsh/.zsh_sessions
zsh/.zsh_history
fastfetch/logo.png
wal/colorschemes/dark/myou.json
