/**
/* Colors
*/

/* Address bar */
.color-behind-tabs-off:not(.is-settingspage)#browser:not(.tabs-top) #header {
    background-color: var(--colorBg);
}
#browser:not(.tabs-top) #header {
    box-shadow: none;
}

/* Tab bar (workspaces) */
.color-behind-tabs-on .button-toolbar.workspace-popup.tabbar-workspace-button {
    background-color: var(--colorBg);
}

/* Tab bar (tabs) */
#browser:not(.transparent-tabbar) #tabs-tabbar-container {
    background-color: var(--colorBg);
}
.tab {
    background-color: var(--colorBg) !important;
}
.tab.active {
    color: var(--colorAccentFg) !important;
    background-color: var(--colorAccentBg) !important;
}

/* Panel */
#panels-container {
    background-color: var(--colorBg);
    border: none;
}

/* Status bar */
#browser:not(.tabs-bottom) footer#footer {
    border-top: none;
}

/**
* Expanding Left Tabs
* Credit: https://www.reddit.com/r/vivaldibrowser/comments/1b7uh4v/guide_resizing_vertical_tabs_on_hover/
*/

/* Animate the tabs, set initial width. */
#tabs-tabbar-container.left {
    transition: all 250ms ease !important;
    width: 30px;
}

.tabbar-workspace-button {
    transition: all 250ms ease !important;
    width: 30px;
}

/* Popup fix */
.button-popup {
    z-index: 1000;
}

.tabbar-wrapper:hover #tabs-tabbar-container.left {
    width: 250px !important;
}

.tabbar-wrapper:hover .tabbar-workspace-button {
    width: 250px !important;
}

.tabbar-wrapper {
    position: absolute !important;
    z-index: 200 !important;
    height: 100% !important;
    transition: all 250ms ease !important;
    width: 36px;
}

.tabbar-wrapper:hover {
    width: 250px !important;
}

#webview-container {
    margin-left: 36px;
}

iframe {
    border-radius: 5px;
}

@media all and (display-mode: fullscreen) {
    #webview-container {
        margin-left: 0 !important;
    }
}

/**
* Swap workspaces and tabs
*/

.tabbar-wrapper {
    flex-direction: column-reverse !important;
}

.separator.separator-wsbutton {
    display: none;
}

.tabbar-workspace-button + #tabs-tabbar-container.left, .tabbar-workspace-button + #tabs-tabbar-container.right {
    padding-top: 5px;
}

